# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=glorious_transfer

# JWT Configuration
JWT_SECRET=LPIf1u/5X2CfO9VqL/3bfzJit9S2Nf5eptp/EkocDYg=

# Application
NODE_ENV=development
